- provide(:title, "About")

h1 About

p Americans love the lottery, but we are not so good at saving. The average American household spends $540 on lottery tickets annually-- about $100 more than what we spend on milk or beer. Meanwhile, the nation's savings rate is just 5.3%, and over a quarter of Americans have no savings at all. In July 2014, a Federal Reserve study found that the majority of Americans could not afford an unexpected $400 expense unless they borrowed money or sold assets.

p The people who buy the greatest number of lottery tickets are also among those most disconnected from the financial system. These individuals do not find the meager returns on savings accounts enticing. Meanwhile, they view a lottery as a form of financial planning; as low as the odds are, many players see the lottery as one of the only ways for a poor person to get rich.

p We aim to combine these two seemingly opposed facets of the financial system to engage more Americans to save money. Our model is simple. Open an account, and each deposit that's a multiple of $25 will win you another entry into our monthly drawing. Like a traditional savings account, you also receive a guaranteed interest rate on your deposits. The prizes from the monthly lottery draw upon the returns from the combined investment of all accounts, skimming just .01% off the individual interest rate.

p When you save with us, you have the chance of winning $10,000, and no matter what you end up with the deposits you made over the course of the year, plus interest.