/!
  | 'object' is passed into the partial through a hash. This unifies the cases
  | when we want to get the errors from @user or @micropost (among others).
- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      | The form contains #{pluralize(object.errors.count, "error")}.
    ul
      - object.errors.full_messages.each do |msg|
        li= msg
