@import "_variables"
@import "_mixins"


// SENTINEL

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-Black.otf") format("opentype")
    font-weight: bolder
    font-style: normal

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-BlackItalic.otf") format("opentype")
    font-weight: bolder
    font-style: italic

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-Bold.otf") format("opentype")
    font-weight: bold
    font-style: normal

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-BoldItalic.otf") format("opentype")
    font-weight: bold
    font-style: italic

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-Light.otf") format("opentype")
    font-weight: lighter
    font-style: normal

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-LightItalic.otf") format("opentype")
    font-weight: lighter
    font-style: italic

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-Medium.otf") format("opentype")
    font-weight: normal
    font-style: normal

  @font-face
    font-family: "Sentinel"
    src: url("Sentinel-MediumItalic.otf") format("opentype")
    font-weight: normal
    font-style: italic


// PROXMIA NOVA

  @font-face
    font-family: "Proxima Nova"
    src: url("ProximaNovaAlt-bold.otf") format("opentype")
    font-weight: bold
    font-style: normal

  @font-face
    font-family: "Proxima Nova"
    src: url("ProximaNovaAlt-ExtraBold.otf") format("opentype")
    font-weight: bolder
    font-style: italic

  @font-face
    font-family: "Proxima Nova"
    src: url("ProximaNovaAlt-Light.otf") format("opentype")
    font-weight: lighter
    font-style: normal

  @font-face
    font-family: "Proxima Nova"
    src: url("ProximaNovaAlt-Semibold.otf") format("opentype")
    font-weight: normal
    font-style: italic


// Google Web Fonts
  
@import url(http://fonts.googleapis.com/css?family=Martel+Sans:200,400)

// TYPOGRAPHY

$serif: "Sentinel"
$sans-serif-1: "Source Sans Pro", Arial, sans-serif
$sans-serif-2: 'Martel Sans', sans-serif
$mono: PT Mono

*
  font-family: $sans-serif-2
  font-weight: 200

h1, h2, h3, h4, h5, h6
  line-height: 1

h1
  font:
    size: 3em
    family: $sans-serif-1
    weight: lighter
  text-transform: uppercase
  letter-spacing: -2px
  margin-bottom: 30px
  text-align: center

h2
  font-size: 1.2em
  letter-spacing: -1px
  margin-bottom: 30px
  text-align: center
  font-weight: normal
  color: $gray-light

p
  font-size: 16pt
  line-height: 2em
  font-family: $sans-serif-2
  font-weight: 200

a
  color: $teal

  &:visited
    color: $teal-dark