$break-small: 768px
$break-large: 960px

$gray-darker: #888
$gray-dark: #bbb
$gray-medium: #ccc
$gray: #ddd
$gray-medium-light: #eaeaea
$gray-light: #eee

$brown-dark: #3c3231
$brown-med:  lighten($brown-dark, 30%)

$green: #1fad5c