$break-small: 768px
$break-large: 960px


//// COLORS ////////////////////////////////////////////

// Greys
$gray-darker: #555
$gray-dark: #999
$gray-medium: #ccc
$gray: #ddd
$gray-medium-light: #eaeaea
$gray-light: #eee

$brown-dark: #3c3231
$brown-med:  lighten($brown-dark, 30%)

$green: #21c07d
$green-2: #21ce99
$green-3: #1fad5c
$green-dark: darken($green, 20%)

$teal: #3DABAA
$teal-light: lighten($teal, 20%)
$teal-dark: darken($teal, 20%)

$error-dark: #a94442
$error-med: #d35858
$error-light: #ebccd1