// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.intro-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: url(masonjar_money.png) no-repeat center center fixed;
	background-size: 100%;
	height: 54vw;
	background-color: blue;
}