= form_tag charges_path do
  
  / Input fields representing sensitive card data (number, CVC,
  / expiration month and year) do not have a 'name' attribute.
  / This prevents them from hitting the server when the form is
  / submitted. 

  / Your life becomes easier if sensitive cardholder data does
  / not hit your servers. You no longer need to worry about
  / redacting logs, encrypting cardholder details, or other
  / burdens of PCI compliance.
  
  input#input(type='number' min='0.00'
              onkeypress="return isNumKey(event)")

  br
  br

  script(src="https://checkout.stripe.com/checkout.js"
         class="stripe-button"
         data-key="#{Rails.configuration.stripe[:publishable_key]}"
         data-description="Deposit!"
         data-email="#{@user.email}"
         id="stripe-button")
  
  br

  = hidden_field_tag :amount, @amount

  javascript:
    $('#input').keyup(function(e) {
      var input_val_in_cents = 100 * $(this).val() / 1.00;
      $('#amount').val(input_val_in_cents);
      $('#stripe-button').attr('data-amount', input_val_in_cents);
    });

    
    function isNumKey(e) {
      var input_val = $('#input').val();

      var ch = (e.which) ? e.which : e.keyCode;
      var is_num_key = !(ch != 46 && ch > 31 && (ch < 48 || ch > 57));
      var still_typing = /^\d*\.?\d?$/.test(input_val);

      return is_num_key && still_typing;
    }